---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import AddToCartButton from '../components/AddToCartButton.tsx';

type Props = CollectionEntry<'shop'>['data'];

const { id, title, description, pubDate, updatedDate, image, available, price } = Astro.props;

---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="flex">
			<div class="w-1/2 h-[960px]">
				{image && <img class="w-full h-auto" src={image} alt="" />}
			</div>
			<div class="w-1/2 p-4">
				<h1 class="text-2xl mb-2">{title}</h1>
				<p class="text-sm text-gray-500 mb-4">
					<FormattedDate date={pubDate} />
					{updatedDate && <span>Last updated on <FormattedDate date={updatedDate} /></span>}
				</p>
				<p class="text-lg mb-4">${price}</p>
				<p class={available ? "text-green-500 mb-4" : "text-red-500"}>{available ? 'In Stock' : 'Out of Stock'}</p>
				<!-- <button class="bg-blue-500 text-white px-4 py-2 rounded mb-2" @click={handleClick}>Add to Cart</button> -->
				<AddToCartButton client:load id={id.toString()} quantity={1} price={price} imageUrl={image} title={title} />
				<button class="bg-red-500 text-white px-4 py-2 rounded">Add to Favorites</button>
			</div>
		</main>
		<Footer />
	</body>
</html>