---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import AddToCartButton from '../components/AddToCartButton.tsx';
import { ViewTransitions } from 'astro:transitions';
import AddToFavoritesButton from '@/components/AddToFavoritesButton.tsx';
import { supabase } from '@/lib/supabase';

type Props = CollectionEntry<'shop'>['data'];

const { id, name, description, created_at, modified_at, image, available, price } = Astro.props;

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

const { data } = await supabase.auth.setSession({
  refresh_token: refreshToken?.value ?? "",
  access_token: accessToken?.value ?? "",
});
const email = data?.user?.email || '';
const isAuth = !!email;

const { url } = Astro.request;
const newUrl = new URL(url);
const redirectUrlParam = newUrl.searchParams.get('redirectUrl');

---

<html lang="en">
	<head>
		<BaseHead name={name} description={description} />
		<ViewTransitions />
	</head>

	<body>
		<Header />
		<main class="flex">
			<div class="w-1/2 h-[960px]">
				{image && <img class="w-full h-auto" draggable='false' src={image} alt="" transition:name={"imageShop" + id}/>}
			</div>
			<div class="w-1/2 p-4">
				<h1 class="text-2xl mb-2">{name}</h1>
				<p class="text-sm text-gray-500 mb-4">
					<FormattedDate date={created_at} />
					{modified_at && <span>Last updated on <FormattedDate date={modified_at} /></span>}
				</p>
				<p class="text-lg mb-4">${price}</p>
				<p class={available ? "text-green-500 mb-4" : "text-red-500"}>{available ? 'In Stock' : 'Out of Stock'}</p>
				<!-- <button class="bg-blue-500 text-white px-4 py-2 rounded mb-2" @click={handleClick}>Add to Cart</button> -->
				<div class="flex flex-col w-2/3">
					<AddToCartButton client:load id={id.toString()} quantity={1} price={price} imageUrl={image} name={name} />
					<AddToFavoritesButton client:load id={id} isAuth={isAuth}/>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>